{% extends "YWM/base.html" %}
{% block content %}
{% load staticfiles %}

    <body>
 
        <section info>
            <div class="container">
                <div class="row ">
                
                    {% if messages != False %}
                    <div class="col-md-12" style="padding-top : 15px; margin-bottom : -10px;">
                        <div class="alert alert-dismissable alert-success">
                        <button contenteditable="false" type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">×</button>
                         {{messages}}</div>
                    </div>
                    {% endif %}  
                    
                     
           
                    <div class="col-md-12">
                        <div id="carousel-example" data-interval="5000" class="carousel slide"
                        data-ride="carousel">
                        <div class="carousel-inner home">
                            <div class="active item" style="max-height : 150px;">
                            <img src="{% static 'img/header/1.png' %}" class="center-block">
                            </div>
                            <div class="item" style="max-height : 150px;">
                            <img src="{% static 'img/header/1.png' %}" class="center-block">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><i class="fa fa-angle-left fa-flip-horizontal fa-lg icon-prev text-inverse"></i></a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><i class="fa fa-angle-right fa-flip-horizontal fa-lg icon-next text-inverse"></i> </a>
                        </div>
                    </div>
         
                </div>
                
                <hr>
                

            </div>
        </section>
        
        
        <section choix>
            
            <div class="container">
                <div class="row ">
                
                  <div class="col-md-12">

            
                        <form role="search" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                
                                
                         <div class="col-md-3">
                            <select class="selectpicker" multiple data-live-search="true" data-actions-box="true" data-width="90%" data-deselect-all-text="Rien" data-select-all-text="Tous" data-size="5" data-live-search-placeholder="Rechercher" title="Catégorie(s)" name="Categorie">
                                        {% for categorie in categories %}
                                            <option value="{{categorie.nom}}">{{categorie.nom}}</option>
                                        {% endfor %}
                                </select>
                         </div>
                         
                         <div class="col-md-3">
                            <select class="selectpicker" multiple data-live-search="true" data-live-search-placeholder="Rechercher" data-width="90%" data-actions-box="true" data-deselect-all-text="Rien" data-select-all-text="Tous" data-size="5" title="Couleur(s)" name="Couleur"> 

                                        {% for couleur in couleurs %}
                                            <option value="{{couleur.nom}}">{{couleur.nom}}</option>
                                        {% endfor %}

                                </select>
                          </div>
                           
                            <div class="col-md-3">
                             <select class="selectpicker" multiple data-live-search="true" data-live-search-placeholder="Rechercher" data-width="90%" data-actions-box="true" data-deselect-all-text="Rien" data-select-all-text="Tous" data-size="5" title="Caractérisitque(s)" name="Attribue">   

                                        {% for attribue in attribues %}
                                            <option value="{{attribue.nom}}">{{attribue.nom}}</option>
                                        {% endfor %}

                                </select>
                            </div>
                            
                            
                           <div class="col-md-2">
                            
                           <p style="padding: 3px;"> Prix : 10€ - 1000€ </p>
              
                                 <input id="prix" name="prix" type="float" class="span1" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[10,1000]"/>
                          
                        
                            </div>
                            
                         
                         
                         <div class="col-md-1">
                   
                            <button type="submit" style="float: right; position: relative;" class="btn btn-primary">Filtrer</button>
                   
                         </div>
                         
                         </div>
                        </form>

                        </div>
      

                  </div>                    
                </div>
           </div>
        </section>
        
        <section produit>
            
            <div class="container">
                <div class="row ">
            
               {% for produit in produits %}
                    {% if produit.stock > 0 %}
            <div class="col-md-3">
                
                <div class="product-item">
                <div class="pi-img-wrapper">
                    <img src="{{produit.photo1.url}}" class="img-responsive" alt="{{produit.nom}}">
                    <div>
                    <a href="/boutique/page_produit/?ref={{produit.reference}}" class="btn">Plus de détails</a>
                    <a href="/user/ajoutfavori/?ref={{produit.reference}}" type="submit" class="btn btn-primary" style="margin : 5px;">Ajouter aux favoris</a>
                    </div>
                </div>
                <h3><a href="/boutique/page_produit/?ref={{produit.reference}}">{{produit.nom}}</a></h3>
                <div class="pi-price">{{produit.prix}}€</div>
                <a href="/boutique/ajout/?ref={{produit.reference}}" class="btn add2cart">Ajouter au panier</a>
                </div>
            </div>
                {%endif%}
            {% endfor %}
                
                </div>                    
            </div>
            
        </section>

{% endblock %}