
{% extends "YWM/base.html" %}
{% block content %}
{% load staticfiles %}


        <div class="container">
            <div class="row ">
                    
                <h1 class="section-heading"> Changement d'adresse </h1>   
                <hr class="primary">
            
            </div>
        </div>

        
     <div class="section">
      <div class="container">
        <div class="row">
            
            {% if messages != False %}
            <div class="col-md-12" style="padding-top : 15px; margin-bottom : -10px;">
                <div class="alert alert-dismissable alert-success">
                <button contenteditable="false" type="button" class="close" data-dismiss="alert"
                aria-hidden="true">×</button>
                    {{messages}}</div>
            </div>
            {% endif %} 
                    
                    
          <div style="padding-top : 15px; padding-bottom : 15px;">         
          <div class="col-md-6">
            <div class="jumbotron">
              <h1>Changer d'adresse de livraison?</h1>
              <p>Pas d'inquiétude vous pouvez la changer à n'importe quel instant!</p>
            </div>
          </div>
          
          
          <div class="col-md-6">
              
           <form action="{% url "YWM.views.user_changement_adresse" %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
            <input class="btn btn-primary btn-xl" type="submit" value="Enregistrer" />
            </form>
            
          </div>
          
          </div>
        </div>
      </div>
    </div>
    

{% endblock %}