
{% extends "YWM/base.html" %}
{% block content %}
{% load staticfiles %}

    <header>
        <div class="container">
            <div class="row ">
                    
                <h1> Connexion Admin </h1>   
            
            </div>
        </div>
    </header>
        
     <div class="section">
      <div class="container">
        <div class="row"> 
                    
          <div style="padding-top : 15px; padding-bottom : 15px;">         
          <div class="col-md-6">
            <div class="jumbotron">
              <h1>Connexion Admin</h1>
              <p>Gestion de la Boutique!</p>
            </div>
          </div>
          
          
          <div class="col-md-6">
              
           <form action="" method="post">
                        {% csrf_token %}
                <label for="exampleInputPassword1">Mot de passe Admin</label>
                <input type="password" class="form-control" id="token" name="token" placeholder="Mot de Passe">  </br>
                <input class="btn btn-primary btn-xl" type="submit" value="Se connecter" />
            </form>
            
          </div>
          
          </div>
        </div>
      </div>
    </div>
    

{% endblock %}